html{
  /* font-family: "筑紫A丸ゴシック", "FOT-筑紫A丸ゴシック Std E", TsukuARdGothicStd-E, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif ; */
  font-family: ot-tsukuardgothic-std,fot-tsukuardgothic-std,"Tsukushi A Round Gothic","筑紫A丸ゴシック","游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif ;
  font: Bold ;
  font-weight: 400;
  font-style: normal;
  color: #3B3538;

  position: relative;
  /* background-color: #F6F670;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F9F9F9), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F9F9F9),color-stop(.75, #F9F9F9), color-stop(.75, transparent),to(transparent));
  -webkit-background-size: 14px 14px; */
  
}
ol, ul{
  list-style: none;
}
a{
  color: #3B3538;
  text-decoration: none;
  font-family: ot-tsukuardgothic-std,fot-tsukuardgothic-std,"Tsukushi A Round Gothic","筑紫A丸ゴシック","游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif ;
  font: Bold ;
  font-weight: 400;
  font-style: normal;
}
a:hover{
  text-decoration: none;
}


/*---------------subtitle小見出し---------------------*/
.subtitle{
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
h1{
  text-align: center;
  font-size: 3em;
  font-weight: 700;
}
.subtitle img{
  zoom: 0.5;
}

/*---------------nav---------------------*/
nav{
  top: 0px;
  width: 15vh;
  height: 100vh;
  /* font-size: 17px;
  font-weight: 800; */
  background: #FFFFFF;
  box-shadow: 0px 10px 10px #7A7F82; 
  /* border: 1px solid #2CAEBF; */
  position: fixed;
}
nav p{
  font-size: 17px;
  font-weight: 800;
}
nav img{
  width: 11vh;
  /* height: 20vh; */
}
nav i{
  font-size: 3em
}
nav li + li {
  border-top: none;
}
.main-nav_item{
  width: 15vh;
  height: 15vh;
  background: #FFFFFF;
  /* border: 1px solid #2CAEBF;  */
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nav_item i{
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.main-nav_item:nth-of-type(1){
  height: 20vh;
  background-color: #2CAEBF;
}
.main-nav_item:hover a{
  color: #F2F8FA;
  transition: all  0.3s ease;
}
.main-nav_item:hover{
  background: #2CAEBF 0% 0% no-repeat padding-box;
  transition: all  0.3s ease;
}
/*---------------contents---------------------*/
.contents{
  height: 100vh;
  padding-left: 15vh;
}

/*---------------header---------------------*/
header{
  position: absolute;
  top: 10px;
  right: 2vw;
  font-size: 20px;
  letter-spacing: -0.35px;
  line-height: 16px;
}
header ul{
  text-align: right;
} 
header li{
  display: inline;
  margin-left: 5px;
} 
header i :nth-last-of-type(2){
  color: #2CAEBF;
}

/*---------------main--------------------*/

#hoge{
  width:100%;
  height: 100vh;
  margin:0 auto; 
  background-color:#DCEFF2;
  z-index: -10;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#hoge canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;

}
.main-visual{
  /* margin-top: 8vh; */
  z-index: 1;
  /* position: absolute; */
  /* left: 31%; */

}
main div,p{
  text-align: center;
}
main img{
  width: 40vw;
  margin-top: 5%;
}
main p{
  margin-top: 25px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.6px;
  color: #7A7F82;
}

/*---------------map---------------------*/
.map-area{
  /* margin-top: 12vh; */
  background-color: #F2F8FA;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #FFFFFF), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #FFFFFF),color-stop(.75, #FFFFFF), color-stop(.75, transparent),to(transparent));
  -webkit-background-size: 40px 40px;
  height: 100vh;
}

.prefecture{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.st0{
  fill:#2CAEBF;
}

.map-area h3{
  font-size: 20px;
  font-weight: 700;
}
.map-area li{
  font-size: 15px;
}
.map{
  width: 70vw;
  /* position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; */
  transform: translateX(-63px);
}

.map svg {
  /* position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; */

}

.region {
  position: absolute;

}
.hokkaido{
  left: 70vw;
}
.tohoku{
  /* position: absolute; */
  top: 10vh;
  left: 70vw;

}




/*---------------category---------------------*/
.category-area{
  /* margin-top: 12vh; */
  background-color: #F2F8FA;
  /* background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #FFFFFF), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #FFFFFF),color-stop(.75, #FFFFFF), color-stop(.75, transparent),to(transparent));
  -webkit-background-size: 20px 20px; */
}
/* .category-area h1{
  font-size: 30px;
} */
.category-area ul{
  /* display: flex;
  align-items: center;
  justify-content: center;
  display: block; */
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-area li{
  left: 10vw;
  right: 10vw;
  height: 10vw;
  width: 10vw;
  text-align: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  font-size: 20px; 
  margin: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-area li:nth-last-of-type(1),
.category-area li:nth-last-of-type(2) {
  visibility: hidden;
}
.category-area i{
  font-size: 2em;
  padding-bottom: 8px;
}

.category-area li:hover{
  box-shadow: 0px 0px 0px #F6F670;
  box-sizing: border-box;
  border: solid 2px #F6F670;
  transition: all  0.1s ease;
}


/*---------------footer---------------------*/
footer{
  background-color: #2CAEBF;
  text-align: center;
  color: #3B3538;
}
footer img{
  width: 9%;
  padding-top: 15px;
}
footer h3{
  font-size: 20px;
  padding: 10px;
}
footer h4{
  font-size: 14px;
  letter-spacing: -0.35px;
  line-height: 16px;
}
footer ul{
  text-align: right;
  padding: 15px;
}
footer li{
  font-size: 14px;
  display: inline;
}




/*

nav ホバー したとき色がきっちり収まらない。謎の余白がある
  header 横並びにならない
  clinic アイコン表示されない
  particle 画像にできないs
  particle 重なりがうまくできない
  particle 重ねたら中央寄せができない
  なんかフォントがおかしい
svg outline 重なり順謎
maparea ul 色変更きかない]]
*/
