.marker-animation.active{
  background-position: -100% .5em;
}
/* *,*::before,*::after{
  box-sizing: border-box;
} */
.marker-animation {
  background-image: -webkit-linear-gradient(left, transparent 50%,#F6F670 50%);
  background-image: -moz-linear-gradient(left, transparent 50%, #F6F670 50%);
  background-image: -ms-linear-gradient(left, transparent 50%, #F6F670 50%);
  background-image: -o-linear-gradient(left, transparent 50%, #F6F670 50%);
  background-image: linear-gradient(left, transparent 50%, #F6F670 50%);
  background-repeat: repeat-x;
  background-size: 200% .8em;
  background-position: 0 .5em;
  transition: all 2s ease-in-out;
  font-weight: bold;
}

html{
  /* font-family: "筑紫A丸ゴシック", "FOT-筑紫A丸ゴシック Std E", TsukuARdGothicStd-E, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif ; */
  font-family: ot-tsukuardgothic-std,fot-tsukuardgothic-std,"Tsukushi A Round Gothic","筑紫A丸ゴシック","游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif ;
  font: Bold ;
  font-weight: 400;
  font-style: normal;
  color: #3B3538;

  position: relative;
  /* background-color: #F6F670;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F9F9F9), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F9F9F9),color-stop(.75, #F9F9F9), color-stop(.75, transparent),to(transparent));
  -webkit-background-size: 14px 14px; */

}

ol, ul{
  list-style: none;
}
a{
  color: #3B3538;
  text-decoration: none;
  font-family: ot-tsukuardgothic-std,fot-tsukuardgothic-std,"Tsukushi A Round Gothic","筑紫A丸ゴシック","游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif ;
  font: Bold ;
  font-weight: 400;
  font-style: normal;
}
a:hover{
  text-decoration: none;
}
button{
  background: none;
  border: none;
}

/*---------------subtitle小見出し---------------------*/
.subtitle{
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: solid #2CAEBF;
  border-width: 6px 0px 6px 0em;
  padding-top: 10px;
  /* box-sizing: border-box; */
  /* height: 17vh; */
}
.subtitle h1{
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 5vh;
  padding-right: 3vw;
  padding-left: 3vw;
}
.subtitle img{
  zoom: 0.35;
}

/*---------------nav---------------------*/
nav{
  top: 0px;
  width: 120px;
  height: 100vh;
  background: #FFFFFF;
  box-shadow: 0px 10px 10px #7A7F82; 
  position: fixed;
}
nav li p{
  font-size: 12px;
  font-weight: 900;
}
nav input{
  display: none;
}
nav img{
  width: 11vh;
}
nav i{
  font-size: 2em
}
nav li + li {
  border-top: none;
}
.main-nav_item{
  width: 120px;
  height: 120px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nav_item i{
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.main-nav_item:nth-of-type(1){
  height: 20vh;
  background-color: #2CAEBF;
}
.main-nav_item:hover a{
  color: #F2F8FA;
  transition: all  0.3s ease;
}
.main-nav_item:hover{
  background: #2CAEBF 0% 0% no-repeat padding-box;
  transition: all  0.3s ease;
  width: 150px;
}
/*---------------contents---------------------*/
.contents{
  /* height: 100vh; */
  /* padding-left: 15vh; */
  padding-left: 120px;
}

/*---------------header---------------------*/
header{
  position: absolute;
  top: 10px;
  right: 2vw;
  font-size: 15px;
  letter-spacing: -0.35px;
  line-height: 16px;
  color: #2CAEBF;
}
header ul{
  text-align: right;
} 
header li{
  display: inline;
  margin-left: 5px;
} 
header i{
  color: #2CAEBF;
}

/*---------------main--------------------*/

#hoge{
  width:100%;
  height: 100vh;
  margin:0 auto; 
  background-color:#DCEFF2;
  z-index: -10;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#hoge canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;

}
.main-visual{
  /* margin-top: 8vh; */
  z-index: 1;
  /* position: absolute; */
  /* left: 31%; */
}
main div,p{
  text-align: center;
}
main img{
  width: 45%;
  /* margin-top: 1%; */
}
main p{
  margin-top: 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.6px;
  color: #7A7F82;
}

/*---------------map---------------------*/
.map-area{
  background-color: #F2F8FA;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #FFFFFF), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #FFFFFF),color-stop(.75, #FFFFFF), color-stop(.75, transparent),to(transparent));
  -webkit-background-size: 40px 40px;
  padding-bottom: 200px;
}

.prefecture{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;

}
.st0{
  fill:#2CAEBF;
}

.map-area h3{
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
  color: #2CAEBF;
}
.map-area li{
  font-size: 14px;
  padding: 6px;
  display: inline;
  background-image: linear-gradient(180deg, transparent 80%, #F6F670 0);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: 0.5s;
}
.map-area li:hover{
  transition: 0.5s;
  background-size: 100% 100%;
}
.map{
  width: 800px;
  transform: translateX(-63px);
}
.prefecture-list{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.region {
  position: absolute;
  width: 160px;
  height: 100px; 
}
.region ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.hokkaido{
  top: 15vh;
  left: 67vw;
}
.tohoku{
  top: 30vh;
  left: 67vw;
}
.kantou{
  top: 50vh;
  left: 67vw;
}
.hokuriku-kousinnetsu{
  top: 10vh;
  left: 30vw;
}
.tokai{
  bottom: -20px;
  left: 55vw;
}
.kansai{
  bottom: -20px;
  left: 40vw;
}
.tyugoku{
  top: 25vh;
  left: 20vw;
}
.shikoku{
  bottom: -20px;
  left: 25vw;
}
.kyusyu-okinawa{
  top: 45vh;
  left: 12vw;
}





/*---------------category---------------------*/
.category-area{

  background-color: #F2F8FA;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #FFFFFF), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #FFFFFF),color-stop(.75, #FFFFFF), color-stop(.75, transparent),to(transparent));
  -webkit-background-size: 40px 40px;
  padding-bottom: 50px;
}

.category-area ul{
  margin-top: 50px;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-area li{
  left: 8vw;
  right: 8vw;
  height: 130px;
  width: 130px;
  text-align: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  font-size: 15px; 
  margin: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-area li:nth-last-of-type(1),
.category-area li:nth-last-of-type(2) {
  visibility: hidden;
}
.category-area i{
  font-size: 1.5em;
  padding-bottom: 8px;
}

.category-area li:hover{
  box-shadow: 0px 0px 0px #F6F670;
  box-sizing: border-box;
  border: solid 4px #F6F670;
  transition: all  0.1s ease;
}


/*---------------review.html---------------------*/
.review-area{
  background-color: #F2F8FA;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #FFFFFF), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #FFFFFF),color-stop(.75, #FFFFFF), color-stop(.75, transparent),to(transparent));
  -webkit-background-size: 40px 40px;
  padding-bottom: 50px;
}


.review-area form{
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, Helvetica, Arial, sans-serif;
}

.review-area h2{
  color: #2CAEBF;
  font-weight: 800;
  margin: 50px;
  margin-left: 15vw;
}
/* .review-area p{
  font-weight: 500;
  margin: 1vh;
} */

.review-section{
  display: flex;
  /* margin-left: 35vw; */
  /* margin-bottom: 100px; */
  width: 50vw;
  margin: 40px auto;
}
.review-section .review-label,
.review-section p{
  width: 20%;
  text-align: left;
}
.review-section input,
.review-section textarea,
.review-section .other-group{
  width: 80%;
}
.review-section li input{
  width: 3%;
}
.review-section li label{
  width: 97%;
}
.review-area input,.review-area textarea,.review-area option{
  /* vertical-align: bottom; */
  border: 2px solid #2CAEBF;
}
.review-item{
  left: 50vw;
}
.review-section span{
  font-size: 10px;
  color: #FF0000;
}
.submit-btn{
  margin: 100px;
  width: 100px;
  height: 50px;
}



/*---------------search.html---------------------*/

.search-area form{
  display: flex;
  justify-content: center;
  align-items: center;

}
/* .search-area{ 
  height: 17vh;
} */
.search_container{
  background-color: #F2F8FA;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #FFFFFF), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #FFFFFF),color-stop(.75, #FFFFFF), color-stop(.75, transparent),to(transparent));
  -webkit-background-size: 40px 40px;
  box-sizing: border-box;
  height: 83vh;

}
.search_container input[type="text"]{
  border: 4px solid #2CAEBF;
  padding: 3vh 5vw;
  border-radius: 50px;
  height: 2vh;
  width: 30vw;
  overflow: hidden;
  
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #2CAEBF;
  outline : none;
  display: inline-block;
  vertical-align: middle;
}
.search-icon{
  font-size: 50px;
  color: #2CAEBF;
  margin-left: 16px;
}
/*---------------results.html---------------------*/
.results-area{
  background-color: #F2F8FA;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #FFFFFF), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #FFFFFF),color-stop(.75, #FFFFFF), color-stop(.75, transparent),to(transparent));
  -webkit-background-size: 40px 40px;
  padding-bottom: 50px;
}


.results-section{
  padding: 30px 20px;
  margin: 60px 25%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}

.result-part{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.result-part h2{
  font-weight: 900;
  width: 90px;
}
.result-part p{
  font-size: 14px;
  width: 270px;
  text-align: left;
}
/*---------------footer---------------------*/
footer{
  background-color: #2CAEBF;
  text-align: center;
  color: #F2F8FA;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  padding: 30px 0px;
  display: block;
}
.footer-logo{
  margin: 0 auto;
}
footer img{
  width: 120px;
  padding-top: 15px;
}
footer h3{
  font-size: 16px;
  padding: 10px;
}
.footer-sns i{
  color: #F2F8FA;
  font-size: 30px;
}
.footer-sns{
  margin-top: 15px;
}
.footer-items ul{
  text-align: center
  padding: 15px;

}

footer .footer-sns li{
  margin: 0 16px;
}
footer li{
  font-size: 8px;
  margin: 0 5px;
  display: inline;
}
.footer-items{
  width: 50%;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
}
.footer-logo{
  width: 50%;
}




/*---------------ここからレスポンシブ---------------------*/

/*------------レスポンシブ 地図崩れるところ---------------*/


@media (max-width: 1178px){


 

  .map-area{
    padding-bottom: 400px;
  }
  
  .prefecture{
    padding-bottom: 10px;
  }


  .map{
    position: relative; 
  }
  
  .hokkaido{
    top: 105%;
    left: 15vw;
  }
  .tohoku{
    top: 105%;
    left: 30vw;
  }
  .kantou{
    top: 105%;
    left: 45vw;
  }
  .hokuriku-kousinnetsu{
    top: 105%;
    left: 60vw;
  }
  .tokai{
    top: 140%;
    left: 10vw;
  }
  .kansai{
    top: 140%;
    left: 25vw;
  }
  .tyugoku{
    top: 140%;
    left: 40vw;
  }
  .shikoku{
    top: 140%;
    left: 55vw;
  }
  .kyusyu-okinawa{
    top: 140%;
    left: 70vw;
  }  

  .results-section{
    margin: 60px 25%;
  }




}

/*------------レスポンシブ タブレット---------------*/


@media screen and (max-width: 1101px){
  .contents{
    padding-left: 0;
  }
  .main-visual img{
    width: 50%;
    min-width: 320px;
  }
  .main-visual p{
    font-size: 14px;
  }
    /*---------------subtitle小見出し---------------------*/
    /* .review-area .subtitle,
    .search-area .subtitle,
    .results-area .subtitle
    {
      margin-top: 120px;
    } */
  .subtitle{
    padding-top: 45px;
  }
  .subtitle h1{
    font-size: 37px;
  }

  /* nav */


  nav{
    background: none;
    box-shadow: none;
  }

  #menuToggle
  {
    display: block;
    position: relative;
    top: 25px;
    left: 25px;
  /* background-color: #fff; */
    z-index: 100000;
    
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a
  {
    text-decoration: none;
    color: #FFFFFF; 
    transition: color 0.3s ease;
  }

  #menuToggle a:hover
  {
    opacity: 0.5;
  }


  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    padding: 10px;
    cursor: pointer;
    
    opacity: 0; 
    z-index: 200000; 
    -webkit-touch-callout: none;
  }


  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #2CAEBF;
    border-radius: 3px;
    
    z-index: 100000;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }


  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #FFFFFF;
  }

  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }


  #main-nav
  {
    position: absolute;
    /* width: 300px; */
    width: 80px;
    height: 100vh;
    margin: -100px 0 0 -50px;


    padding: 100px;
    padding-top: 70px;
    padding-left: 45px;
    padding-right: 70px;
    
    background: #2CAEBF;
    opacity: 0.9;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  }

  #main-nav li{
    padding: 3vh 0;
    font-size: 20px;
  }
  #main-nav li:nth-of-type(1){
    padding: 5px 0 0 0;
  }
  #main-nav li:nth-of-type(2){
    padding-top: 5px;
  }
  #main-nav li i
  {
    font-size: 1.5em;
  }

  .main-nav_item{
    background: none;
    height: 10vh;
  }

  .main-nav_item img{
    width: 80px;
    padding-top: 20px;
  }
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }








  /* nav{
    top: 0px;
    width: 100vw;
    height: 120px;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px #7A7F82; 
    position: fixed;
    z-index: 10000;
  }
  nav p{
    font-size: 10px;
    font-weight: 800;
  }
  nav img{
    width: 10vw;
  }
  nav ul{
    display: flex;
  }
  nav i{
    font-size: 2.5em
  }
  nav li + li {
    border-top: none;
  }
  .main-nav_item{
    width: 18%;
    height: 120px;
    background: #FFFFFF;

    display: inline-block;
    letter-spacing: 0;
  }
  .main-nav_item i{
    margin-top: 25px;

  }
  .main-nav_item:nth-of-type(1){
    height: 120px;
    background-color: #2CAEBF;
    display: flex;
  }
  .main-nav_item:hover a{
    color: #F2F8FA;
    transition: all  0.3s ease;
  }
  .main-nav_item:hover{
    background: #2CAEBF 0% 0% no-repeat padding-box;
    transition: all  0.3s ease;
    width: 23%;
  }
  .main-nav_item:hover{
    width: 18%;
  } */











  /* 地図 */
  .map{
    width: 1900px;
    transform: translateX(-45px);
  
  }
  .map-area{
    padding-bottom: 400px;
  }
  .map-area ul{
    padding-bottom: 10px;
  }
  .prefecture{
    padding-bottom: 250px;
  }
  .region {
    position: absolute;
    width: 15vw;  
    height: 50px;   
  }
  .hokkaido{
    top: 70%;
    left: 16vw;
  }
  .tohoku{
    top: 70%;
    left: 31vw;
  }
  .kantou{
    top: 70%;
    left: 46vw;
  }
  .hokuriku-kousinnetsu{
    top: 70%;
    left: 61vw;
  }
  .tokai{
    top: 100%;
    left: 11vw;
  }
  .kansai{
    top: 100%;
    left: 26vw;
  }
  .tyugoku{
    top: 100%;
    left: 41vw;
  }
  .shikoku{
    top: 100%;
    left: 56vw;
  }
  .kyusyu-okinawa{
    top: 100%;
    left: 71vw;
  } 

    /* タブレットサイズ  subtitle*/
    .subtitle h1{
      font-size: 25px;
    }
    .subtitle img{
      zoom: 0.25;
    }
    /* タブレットサイズ  footer*/
    .footer-logo img{
      width: 16%;
      min-width: 50px;
    }
    .footer-logo h3{
      font-size: 13px;
    }

     /* タブレットサイズ  レビューする*/





     /* タブレットサイズ results*/


     .results-section{
      margin: 60px 15%;
    }
    





}

/*------------レスポンシブ 都道府県縦並びへ---------------*/
@media screen and (max-width: 690px){


  .main-visual p{
    font-size: 15px;
  }
    /* スマホサイズ  subtitle*/
    .subtitle h1{
      font-size: 20px;
    }
    .subtitle img{
      zoom: 0.20;
    }
    /* スマホサイズ  map*/
  .prefecture-list{
    display: block;
    position: relative;
    padding-left: 20px;
    z-index: 100;
    box-sizing: border-box;
    padding-top:40px;
  }
 
  .map{
    width: 100%;
    transform: translateX(0);
    position: absolute;
    opacity: 0.2;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
  }
  .map svg{
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100vw;
  
    transform: translateX(-40px);

  }
  .map-area{
    padding-bottom: 0px;
  }
  .map-area ul{
    padding-bottom: 10px;
  }
  .prefecture{
    padding-bottom: 50px;
    display: block;
  }
  .region {
    position: static;
    width: 100%;  
    height: auto;  
    margin-top: 15px; 
  }


}


/*------------レスポンシブ スマホ---------------*/

@media screen and (max-width: 480px){
  .main-visual img{
    width: 20%;
  }
  .main-visual p{
    font-size: 11px;
  }
  .contents{
    padding-left: 0;
  }


    /* nav */
    /* nav{
      top: 0px;
      width: 100vw;
      height: 120px;
      background: #FFFFFF;
      box-shadow: 0px 3px 10px #7A7F82; 
      position: fixed;
      z-index: 10000;
    }
    nav p{
      font-size: 10px;
      font-weight: 800;
    }
    nav img{
      width: 10vw;
    }
    nav ul{
      display: flex;
    }
  
    nav i{
      font-size: 2.5em
    }
    nav li + li {
      border-top: none;
    }
    .main-nav_item{
      width: 18%;
      height: 120px;
      background: #FFFFFF;

      display: inline-block;
      letter-spacing: 0;
    }
    .main-nav_item i{

      margin-top: 25px;
  
    }
    .main-nav_item:nth-of-type(1){
      height: 120px;
      background-color: #2CAEBF;
      display: flex;

    }
    .main-nav_item:hover a{
      color: #F2F8FA;
      transition: all  0.3s ease;
    }
    .main-nav_item:hover{
      background: #2CAEBF 0% 0% no-repeat padding-box;
      transition: all  0.3s ease;
      width: 23%;
    } */




  /* 地図*/
  .prefecture-list{
    display: block;
    position: relative;
    padding-left: 20px;
    z-index: 100;
    box-sizing: border-box;
    padding-top:20px;
  }
 
  .map{
    opacity: 0;
  }
  .map svg{
    position: absolute;
    top: 240px;
    width: 80vw;
    transform: translateX(-35px);

  }
  .footer-items li{
    font-size: 10px;
  }

  /* category-area */

  /* result-area */

  .results-section{
    margin: 60px 5%;
  }
  
  .result-part h2{
    font-size: 12px;
    font-weight: 900;
    width: 90px;
  }
  .result-part p{
    font-size: 10px;

    width: 270px;
    text-align: left;
  }

}







/*
検索ページフォントオーサム表示されない
入力必須のフォントサイズ小さくならない
レビュー欄テキストエリアとか揃わない
レビュー欄名付け方どうしよう
結果ページどうかけばいいの？
拡大で表示されるときある
IDの場所に移動するとき位置が微妙
min-height 設定して大きくならないように



ハンバーガーメニューと地図の重なり順
横幅縮めた時、おかしな影が一瞬通る

ハンバーガーメニューにするSPのやつ
*/

